* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(242, 242, 242);
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 80%;
}

.flex {
  display: flex;
}
